.filaBotonesDiscar {
  margin-bottom: 0.4%;
}
.botonAsterisco {
  margin-left: 0.15%;
}
.botonera {
  margin-left: 3%;
  margin-top: 3%;
}
.filaCampoNroDiscar {
  margin-left: -2.5%;
  margin-right: 23%;
  margin-bottom: 0.4%;
}
